<mat-toolbar>
  <mat-toolbar-row class="img-mat">
    <img src="https://document-export.canva.com/oHXsQ/DAFEznoHXsQ/169/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20220630%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220630T112706Z&X-Amz-Expires=6805&X-Amz-Signature=dbc506f10eaab831b342656d93531973fc77ba46b3f94f963ecef499e6bd8216&X-Amz-SignedHeaders=host&response-expires=Thu%2C%2030%20Jun%202022%2013%3A20%3A31%20GMT" alt="">
  <div class= "mat-toolbar mat-toolbar-row">
  <h1>Wiser</h1>
  </div>
  <button class="botao" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
